In [39]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score
import pickle
%matplotlib inline

pd.options.display.max_columns = 100

In [40]:
holdout_data = pd.read_csv('holdout_data.csv')
holdout_data.drop(columns=['Unnamed: 0'])

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
0,180000,2,2,1,44,0,0,0,0,0,0,161186,167080,170788,174764,162667,166953,10000,8000,7000,6000,7000,10000
1,130000,2,2,1,48,-2,-2,-2,-2,-2,-2,0,1240,1487,1279,749,440,1240,1487,1279,749,440,849
2,60000,2,1,1,43,-1,3,2,0,0,-1,495,330,495,330,165,340,0,330,0,0,340,0
3,240000,1,1,1,42,0,0,0,0,0,0,72339,91045,91027,51508,51127,0,20000,2213,1030,1023,6790,10893
4,100000,2,2,1,28,2,0,0,0,0,2,73073,74739,70844,63924,57326,59654,3500,3003,1910,2400,3300,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,90000,2,2,1,34,-2,-2,-2,-2,-2,-2,1905,1924,11855,665,0,665,1924,11855,10655,0,665,0
7497,180000,2,2,2,28,0,0,0,0,0,0,103203,108032,109741,112907,115924,118832,6500,5000,5000,5000,5000,5000
7498,360000,1,2,1,37,1,-2,-2,-2,-2,-2,0,0,0,0,0,0,0,0,0,0,0,0
7499,50000,2,2,2,23,-1,0,0,2,0,0,9101,10446,12595,11449,9914,9875,1502,2651,500,500,500,500
7500,240000,2,2,1,47,1,-2,-2,-2,-2,-2,0,0,0,0,0,0,0,0,0,0,0,0

In [41]:
holdout_data.rename(columns = {"X1": "credit_amount", 
                     "X2":"gender", 
                     "X3":"education", 
                     "X4":"marital_status", 
                     "X5":"age", 
                     "X6":"repay_status_sept",
                     "X7":"repay_status_aug",
                     "X8":"repay_status_jul",
                     "X9":"repay_status_jun",
                     "X10":"repay_status_may",
                     "X11":"repay_status_apr",
                    "X12":"statement_amt_sept",
                    "X13":"statement_amt_aug",
                    "X14":"statement_amt_jul",
                    "X15":"statement_amt_jun",
                    "X16":"statement_amt_may",
                    "X17":"statement_amt_apr",
                    "X18":"amt_paid_sept",
                    "X19":"amt_paid_aug",
                    "X20":"amt_paid_jul",
                    "X21":"amt_paid_jun",
                    "X22":"amt_paid_may",
                    "X23":"amt_paid_april",
                    "Y":"defaulted"}, inplace = True) 
holdout_data.drop(columns=['Unnamed: 0'], inplace=True)

In [42]:
conditions = [
    (holdout_data['marital_status'] == 1),
    (holdout_data['marital_status'] != 1)
]

values = [1, 0]
holdout_data['is_married'] = np.select(conditions, values)

# Feature Eng

In [43]:
holdout_data['outstanding'] = holdout_data['statement_amt_sept'] + holdout_data['statement_amt_aug'] + holdout_data['statement_amt_jul'] + holdout_data['statement_amt_jun'] + holdout_data['statement_amt_may'] + holdout_data['statement_amt_apr']
holdout_data['paid'] = holdout_data['amt_paid_sept'] + holdout_data['amt_paid_aug'] + holdout_data['amt_paid_jul'] + holdout_data['amt_paid_jun'] + holdout_data['amt_paid_may'] + holdout_data['amt_paid_april']

holdout_data['balance'] = holdout_data['outstanding'] - holdout_data['paid']
holdout_data['utilization'] = (holdout_data['balance']/holdout_data['credit_amount'])*100

In [44]:
holdout_data

,credit_amount,gender,education,marital_status,age,repay_status_sept,repay_status_aug,repay_status_jul,repay_status_jun,repay_status_may,repay_status_apr,statement_amt_sept,statement_amt_aug,statement_amt_jul,statement_amt_jun,statement_amt_may,statement_amt_apr,amt_paid_sept,amt_paid_aug,amt_paid_jul,amt_paid_jun,amt_paid_may,amt_paid_april,is_married,outstanding,paid,balance,utilization
0,180000,2,2,1,44,0,0,0,0,0,0,161186,167080,170788,174764,162667,166953,10000,8000,7000,6000,7000,10000,1,1003438,48000,955438,530.798889
1,130000,2,2,1,48,-2,-2,-2,-2,-2,-2,0,1240,1487,1279,749,440,1240,1487,1279,749,440,849,1,5195,6044,-849,-0.653077
2,60000,2,1,1,43,-1,3,2,0,0,-1,495,330,495,330,165,340,0,330,0,0,340,0,1,2155,670,1485,2.475000
3,240000,1,1,1,42,0,0,0,0,0,0,72339,91045,91027,51508,51127,0,20000,2213,1030,1023,6790,10893,1,357046,41949,315097,131.290417
4,100000,2,2,1,28,2,0,0,0,0,2,73073,74739,70844,63924,57326,59654,3500,3003,1910,2400,3300,0,1,399560,14113,385447,385.447000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,90000,2,2,1,34,-2,-2,-2,-2,-2,-2,1905,1924,11855,665,0,665,1924,11855,10655,0,665,0,1,17014,25099,-8085,-8.983333
7497,180000,2,2,2,28,0,0,0,0,0,0,103203,108032,109741,112907,115924,118832,6500,5000,5000,5000,5000,5000,0,668639,31500,637139,353.966111
7498,360000,1,2,1,37,1,-2,-2,-2,-2,-2,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0.000000
7499,50000,2,2,2,23,-1,0,0,2,0,0,9101,10446,12595,11449,9914,9875,1502,2651,500,500,500,500,0,63380,6153,57227,114.454000
7500,240000,2,2,1,47,1,-2,-2,-2,-2,-2,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0.000000

# Dummies

In [45]:
gender_dummies = pd.get_dummies(holdout_data['gender'], prefix='gender', drop_first=True)
education_dummies = pd.get_dummies(holdout_data['education'], prefix='education', drop_first=True)
marital_status_dummies = pd.get_dummies(holdout_data['is_married'], prefix='married', drop_first=True)
sep_repay = pd.get_dummies(holdout_data['repay_status_sept'], prefix='repay_sep', drop_first=True)
aug_repay = pd.get_dummies(holdout_data['repay_status_aug'], prefix='repay_aug', drop_first=True)
jul_repay = pd.get_dummies(holdout_data['repay_status_jul'], prefix='repay_jul', drop_first=True)
jun_repay = pd.get_dummies(holdout_data['repay_status_jun'], prefix='repay_jun', drop_first=True)
may_repay = pd.get_dummies(holdout_data['repay_status_may'], prefix='repay_may', drop_first=True)
aug_repay = pd.get_dummies(holdout_data['repay_status_apr'], prefix='repay_apr', drop_first=True)

holdout_data = holdout_data.drop(['gender', 
                                    'education', 
                                    'marital_status',
                                    'is_married',
                                    'repay_status_sept',
                                    'repay_status_aug',
                                    'repay_status_jul',
                                    'repay_status_jun',
                                    'repay_status_may',
                                    'repay_status_apr'

                                    ], axis=1)


holdout_data = pd.concat([holdout_data, 
                           gender_dummies, 
                           education_dummies, 
                           marital_status_dummies,
                           sep_repay,
                           aug_repay,
                           jul_repay,
                           jun_repay,
                           may_repay,
                           aug_repay], axis=1)

In [46]:
holdout_data

,credit_amount,age,statement_amt_sept,statement_amt_aug,statement_amt_jul,statement_amt_jun,statement_amt_may,statement_amt_apr,amt_paid_sept,amt_paid_aug,amt_paid_jul,amt_paid_jun,amt_paid_may,amt_paid_april,outstanding,paid,balance,utilization,gender_2,education_1,education_2,education_3,education_4,education_5,education_6,married_1,repay_sep_-1,repay_sep_0,repay_sep_1,repay_sep_2,repay_sep_3,repay_sep_4,repay_sep_5,repay_sep_6,repay_sep_7,repay_sep_8,repay_apr_-1,repay_apr_0,repay_apr_2,repay_apr_3,repay_apr_4,repay_apr_5,repay_apr_6,repay_apr_7,repay_jul_-1,repay_jul_0,repay_jul_2,repay_jul_3,repay_jul_4,repay_jul_5,repay_jul_6,repay_jul_7,repay_jul_8,repay_jun_-1,repay_jun_0,repay_jun_2,repay_jun_3,repay_jun_4,repay_jun_5,repay_jun_7,repay_may_-1,repay_may_0,repay_may_2,repay_may_3,repay_may_4,repay_may_5,repay_may_6,repay_may_7,repay_apr_-1,repay_apr_0,repay_apr_2,repay_apr_3,repay_apr_4,repay_apr_5,repay_apr_6,repay_apr_7
0,180000,44,161186,167080,170788,174764,162667,166953,10000,8000,7000,6000,7000,10000,1003438,48000,955438,530.798889,1,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,130000,48,0,1240,1487,1279,749,440,1240,1487,1279,749,440,849,5195,6044,-849,-0.653077,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,60000,43,495,330,495,330,165,340,0,330,0,0,340,0,2155,670,1485,2.475000,1,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,240000,42,72339,91045,91027,51508,51127,0,20000,2213,1030,1023,6790,10893,357046,41949,315097,131.290417,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4,100000,28,73073,74739,70844,63924,57326,59654,3500,3003,1910,2400,3300,0,399560,14113,385447,385.447000,1,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,90000,34,1905,1924,11855,665,0,665,1924,11855,10655,0,665,0,17014,25099,-8085,-8.983333,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7497,180000,28,103203,108032,109741,112907,115924,118832,6500,5000,5000,5000,5000,5000,668639,31500,637139,353.966111,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
7498,360000,37,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7499,50000,23,9101,10446,12595,11449,9914,9875,1502,2651,500,500,500,500,63380,6153,57227,114.454000,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
7500,240000,47,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,1,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [47]:
# Loading scaler
scaler_pickle_path = 'scaler_1.pkl'


scaler_pkl = open(scaler_pickle_path, 'rb')
scaler = pickle.load(scaler_pkl)

In [48]:
holdout_data[['credit_amount',
 'age',
 'statement_amt_sept',
 'statement_amt_aug',
 'statement_amt_jul',
 'statement_amt_jun',
 'statement_amt_may',
 'statement_amt_apr',
 'amt_paid_sept',
 'amt_paid_aug',
 'amt_paid_jul',
 'amt_paid_jun',
 'amt_paid_may',
 'amt_paid_april',
 'outstanding',
 'paid',
 'balance',
 'utilization']] = scaler.transform(holdout_data[['credit_amount',
 'age',
 'statement_amt_sept',
 'statement_amt_aug',
 'statement_amt_jul',
 'statement_amt_jun',
 'statement_amt_may',
 'statement_amt_apr',
 'amt_paid_sept',
 'amt_paid_aug',
 'amt_paid_jul',
 'amt_paid_jun',
 'amt_paid_may',
 'amt_paid_april',
 'outstanding',
 'paid',
 'balance',
 'utilization']])

In [49]:
holdout_data

,credit_amount,age,statement_amt_sept,statement_amt_aug,statement_amt_jul,statement_amt_jun,statement_amt_may,statement_amt_apr,amt_paid_sept,amt_paid_aug,amt_paid_jul,amt_paid_jun,amt_paid_may,amt_paid_april,outstanding,paid,balance,utilization,gender_2,education_1,education_2,education_3,education_4,education_5,education_6,married_1,repay_sep_-1,repay_sep_0,repay_sep_1,repay_sep_2,repay_sep_3,repay_sep_4,repay_sep_5,repay_sep_6,repay_sep_7,repay_sep_8,repay_apr_-1,repay_apr_0,repay_apr_2,repay_apr_3,repay_apr_4,repay_apr_5,repay_apr_6,repay_apr_7,repay_jul_-1,repay_jul_0,repay_jul_2,repay_jul_3,repay_jul_4,repay_jul_5,repay_jul_6,repay_jul_7,repay_jul_8,repay_jun_-1,repay_jun_0,repay_jun_2,repay_jun_3,repay_jun_4,repay_jun_5,repay_jun_7,repay_may_-1,repay_may_0,repay_may_2,repay_may_3,repay_may_4,repay_may_5,repay_may_6,repay_may_7,repay_apr_-1,repay_apr_0,repay_apr_2,repay_apr_3,repay_apr_4,repay_apr_5,repay_apr_6,repay_apr_7
0,0.099686,0.925806,1.473509,1.635734,1.769913,2.034417,2.008624,2.141444,0.262938,0.083279,0.095911,0.076045,0.137637,0.265635,1.917295,0.257138,1.958769,1.612531,1,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,-0.285338,1.358827,-0.690974,-0.669129,-0.651566,-0.650874,-0.649358,-0.644367,-0.263890,-0.183176,-0.219241,-0.254778,-0.285395,-0.245825,-0.693919,-0.407060,-0.654723,-0.981997,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,-0.824371,0.817551,-0.684327,-0.681776,-0.665754,-0.665563,-0.658945,-0.646040,-0.338464,-0.230510,-0.289697,-0.301967,-0.291844,-0.293276,-0.701871,-0.492135,-0.648344,-0.966726,1,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,0.561715,0.709296,0.280429,0.578991,0.629107,0.126597,0.177627,-0.651729,0.864341,-0.153474,-0.232957,-0.237516,0.124094,0.315546,0.226456,0.161346,0.208744,-0.337854,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4,-0.516352,-0.806277,0.290285,0.352368,0.340433,0.318778,0.279388,0.346300,-0.127973,-0.121154,-0.184481,-0.150762,-0.100964,-0.293276,0.337665,-0.279321,0.401008,0.902929,1,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,-0.593357,-0.156746,-0.665393,-0.659623,-0.503275,-0.660378,-0.661654,-0.640603,-0.222754,0.240992,0.297253,-0.301967,-0.270886,-0.293276,-0.663003,-0.105404,-0.674499,-1.022665,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7497,0.099686,-0.806277,0.694885,0.815078,0.896770,1.076962,1.241309,1.336366,0.052447,-0.039455,-0.014263,0.013043,0.008663,-0.013821,1.041525,-0.004071,1.088871,0.749240,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
7498,1.485772,0.168020,-0.690974,-0.686363,-0.672834,-0.670671,-0.661654,-0.651729,-0.338464,-0.244011,-0.289697,-0.301967,-0.313769,-0.293276,-0.707508,-0.502741,-0.652403,-0.978809,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7499,-0.901376,-1.347554,-0.568761,-0.541183,-0.492690,-0.493458,-0.498909,-0.486517,-0.248134,-0.135555,-0.262154,-0.270466,-0.281526,-0.265331,-0.541718,-0.405334,-0.496004,-0.420049,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
7500,0.561715,1.250572,-0.690974,-0.686363,-0.672834,-0.670671,-0.661654,-0.651729,-0.338464,-0.244011,-0.289697,-0.301967,-0.313769,-0.293276,-0.707508,-0.502741,-0.652403,-0.978809,1,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [50]:
hold_cols = holdout_data.columns.to_list()

In [51]:
train_cols = [
    'credit_amount',
 'age',
 'statement_amt_sept',
 'statement_amt_aug',
 'statement_amt_jul',
 'statement_amt_jun',
 'statement_amt_may',
 'statement_amt_apr',
 'amt_paid_sept',
 'amt_paid_aug',
 'amt_paid_jul',
 'amt_paid_jun',
 'amt_paid_may',
 'amt_paid_april',
 'outstanding',
 'paid',
 'balance',
 'utilization',
 'gender_2',
 'education_1',
 'education_2',
 'education_3',
 'education_4',
 'education_5',
 'education_6',
 'married_1',
 'repay_sep_-1',
 'repay_sep_0',
 'repay_sep_1',
 'repay_sep_2',
 'repay_sep_3',
 'repay_sep_4',
 'repay_sep_5',
 'repay_sep_6',
 'repay_sep_7',
 'repay_sep_8',
 'repay_apr_-1',
 'repay_apr_0',
 'repay_apr_2',
 'repay_apr_3',
 'repay_apr_4',
 'repay_apr_5',
 'repay_apr_6',
 'repay_apr_7',
 'repay_apr_8',
 'repay_jul_-1',
 'repay_jul_0',
 'repay_jul_1',
 'repay_jul_2',
 'repay_jul_3',
 'repay_jul_4',
 'repay_jul_5',
 'repay_jul_6',
 'repay_jul_7',
 'repay_jul_8',
 'repay_jun_-1',
 'repay_jun_0',
 'repay_jun_1',
 'repay_jun_2',
 'repay_jun_3',
 'repay_jun_4',
 'repay_jun_5',
 'repay_jun_6',
 'repay_jun_7',
 'repay_jun_8',
 'repay_may_-1',
 'repay_may_0',
 'repay_may_2',
 'repay_may_3',
 'repay_may_4',
 'repay_may_5',
 'repay_may_6',
 'repay_may_7',
 'repay_may_8',
 'repay_apr_-1',
 'repay_apr_0',
 'repay_apr_2',
 'repay_apr_3',
 'repay_apr_4',
 'repay_apr_5',
 'repay_apr_6',
 'repay_apr_7',
 'repay_apr_8']

In [52]:
hold_cols

['credit_amount',
 'age',
 'statement_amt_sept',
 'statement_amt_aug',
 'statement_amt_jul',
 'statement_amt_jun',
 'statement_amt_may',
 'statement_amt_apr',
 'amt_paid_sept',
 'amt_paid_aug',
 'amt_paid_jul',
 'amt_paid_jun',
 'amt_paid_may',
 'amt_paid_april',
 'outstanding',
 'paid',
 'balance',
 'utilization',
 'gender_2',
 'education_1',
 'education_2',
 'education_3',
 'education_4',
 'education_5',
 'education_6',
 'married_1',
 'repay_sep_-1',
 'repay_sep_0',
 'repay_sep_1',
 'repay_sep_2',
 'repay_sep_3',
 'repay_sep_4',
 'repay_sep_5',
 'repay_sep_6',
 'repay_sep_7',
 'repay_sep_8',
 'repay_apr_-1',
 'repay_apr_0',
 'repay_apr_2',
 'repay_apr_3',
 'repay_apr_4',
 'repay_apr_5',
 'repay_apr_6',
 'repay_apr_7',
 'repay_jul_-1',
 'repay_jul_0',
 'repay_jul_2',
 'repay_jul_3',
 'repay_jul_4',
 'repay_jul_5',
 'repay_jul_6',
 'repay_jul_7',
 'repay_jul_8',
 'repay_jun_-1',
 'repay_jun_0',
 'repay_jun_2',
 'repay_jun_3',
 'repay_jun_4',
 'repay_jun_5',
 'repay_jun_7',
 'repay_may_-1',
 'repay_may_0',
 'repay_may_2',
 'repay_may_3',
 'repay_may_4',
 'repay_may_5',
 'repay_may_6',
 'repay_may_7',
 'repay_apr_-1',
 'repay_apr_0',
 'repay_apr_2',
 'repay_apr_3',
 'repay_apr_4',
 'repay_apr_5',
 'repay_apr_6',
 'repay_apr_7']

In [53]:
def Diff(li1, li2):
    return (list(list(set(li1)-set(li2)) + list(set(li2)-set(li1))))

In [54]:
holdout_data['repay_apr_8'] = 0
holdout_data['repay_may_8'] = 0
holdout_data['repay_jun_1'] = 0
holdout_data['repay_jun_8'] = 0
holdout_data['repay_jun_6'] = 0
holdout_data['repay_jul_1'] = 0
holdout_data['repay_apr_8'] = 0
holdout_data['additional'] = 0

In [55]:
# Loading scaler
model_pickle_path = 'model_best_yet_1.pkl'


model_pkl = open(model_pickle_path, 'rb')
model_log = pickle.load(model_pkl)

In [56]:
preds = model_log.predict(holdout_data)

In [57]:
predictions = pd.DataFrame(preds, columns=['holdout_pred'])

In [58]:
predictions.to_csv('default_modeling_improved_preds_Brendan_Ferris.csv')

In [59]:
predictions.holdout_pred.value_counts()

0    5850
1    1651
Name: holdout_pred, dtype: int64

In [63]:
# Loading scaler
model_pickle_path = 'model_best_yet_1.pkl'


model_pkl = open(model_pickle_path, 'rb')
model_log = pickle.load(model_pkl)

In [64]:
preds = model_log.predict(holdout_data)

predictions = pd.DataFrame(preds, columns=['holdout_pred'])

In [65]:
predictions.to_csv('default_modeling_improved_preds_Brendan_Ferris.csv')

In [66]:
predictions.holdout_pred.value_counts()

0    4812
1    2689
Name: holdout_pred, dtype: int64